.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(black, 0.38);
  &__left {
    display: flex;
    align-items: center;
    font-size: 8px;
    padding-left: 24px;
    .mat-nav {
      margin-right: 16px;
      cursor: pointer;
      background: transparent;
      border: none;
    }
    .logo {
      text-decoration: none;
    }
  }
  &__input {
    margin: 16px;
    flex: 1;
  }
  &__button {
    cursor: pointer;
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    margin: 0;
  }
  &__item {
    padding: 16px;
  }
}
