<header class="header">
  <div class="header__left">
    <button class="mat-nav" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" href="/" class="logo">
      <h1 class="">電子決済ポータルサイト（仮）</h1>
    </a>
  </div>
  <input class="header__input" type="text" />
  <button class="header__button">
    <mat-icon>search</mat-icon>
  </button>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="">ログイン</a></li>
      <li class="nav__item"><a href="">追加</a></li>
    </ul>
  </nav>
</header>
