.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(black, 0.38);
  &__left {
    display: flex;
    align-items: center;
    font-size: 8px;
  }
}

.search {
  position: relative;
  flex: 1;
  &__input {
    display: block;
    width: 100%;
    outline: none;
    line-height: 30px;
    padding: 0 40px 0 8px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #25202075;
  }
  &__button {
    position: absolute;
    top: 3px;
    right: 8px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
  }
}

.menu {
  margin-right: 16px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.logo {
  text-decoration: none;
}

.btns {
  display: flex;
  justify-content: space-between;
  &__item {
    margin-left: 16px;
  }
}
