<mat-toolbar class="header">
  <mat-toolbar-row>
    <div class="header__left">
      <button class="menu" (click)="toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" class="logo">
        <h1 class="">電子決済ポータルサイト（仮）</h1>
      </a>
    </div>
    <form class="search">
      <input
        class="search__input"
        type="text"
        placeholder="検索"
        autocomplete="off"
        [formControl]="search"
      />
      <button class="search__button">
        <mat-icon>search</mat-icon>
      </button>
    </form>

    <div *ngIf="user$ | async as user; else default" class="btns">
      <button class="btns__item" mat-flat-button color="primary">追加</button>
      <button
        class="btns__icon"
        mat-mini-fab
        [matMenuTriggerFor]="avatar"
        [style.background-image]="'url(' + user.photoURL + ')'"
      ></button>
      <mat-menu #avatar="matMenu">
        <button mat-menu-item (click)="logout()">ログアウト</button>
        <button mat-menu-item>Help</button>
      </mat-menu>
    </div>
    <ng-template #default>
      <button
        class="btns__item"
        mat-flat-button
        color="primary"
        (click)="login()"
      >
        ログイン
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
