<mat-toolbar class="header">
  <div class="header__left">
    <button class="menu" (click)="toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" class="logo">
      <h1 class="">PAYpick</h1>
    </a>
  </div>
  <form
    class="search"
    (ngSubmit)="routeSearch(searchService.searchControl.value)"
  >
    <input
      class="search__input"
      type="text"
      placeholder="使えるお店で検索"
      [matAutocomplete]="auto"
      [formControl]="searchService.searchControl"
    />
    <button class="search__button">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionActivated)="setSearchQuery($event.option?.value)"
    (optionSelected)="routeSearch($event.option?.value)"
  >
    <mat-option *ngFor="let option of saerchOptions" [value]="option.name">{{
      option.name
    }}</mat-option>
  </mat-autocomplete>

  <div *ngIf="user$ | async as user; else default" class="btns">
    <button
      *ngIf="user.admin"
      class="btns__item"
      mat-flat-button
      color="primary"
      [mat-menu-trigger-for]="addition"
    >
      追加
    </button>
    <mat-menu #addition="matMenu">
      <button
        [routerLink]="['/create/form']"
        [queryParams]="{ type: 'qrCode' }"
        mat-menu-item
      >
        モバイル決済
      </button>
      <button
        [routerLink]="['/create/form']"
        [queryParams]="{ type: 'electron' }"
        mat-menu-item
      >
        電子マネー
      </button>
      <button
        [routerLink]="['/create/form']"
        [queryParams]="{ type: 'credit' }"
        mat-menu-item
      >
        クレジットカード
      </button>
      <button
        [routerLink]="['/create/form']"
        [queryParams]="{ type: 'point' }"
        mat-menu-item
      >
        ポイントカード
      </button>
    </mat-menu>

    <div *ngIf="user.admin" class="admin">管理人</div>

    <button
      class="btns__icon"
      mat-mini-fab
      [matMenuTriggerFor]="avatar"
      [style.background-image]="'url(' + user.avatarURL + ')'"
    ></button>
    <mat-menu #avatar="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
      <mat-divider></mat-divider>
      <button routerLink="/settings" mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </button>
      <button routerLink="/intl/help" mat-menu-item>
        <mat-icon>help</mat-icon>
        <span>使い方</span>
      </button>
      <button routerLink="/payment" mat-menu-item>
        <mat-icon>attach_money</mat-icon>
        <span>広告を非表示にする</span>
      </button>
    </mat-menu>
  </div>
  <ng-template #default>
    <button
      class="btns__item"
      mat-flat-button
      color="primary"
      (click)="login()"
      [disabled]="isProcessing"
    >
      {{ isProcessing ? 'ログイン中' : 'ログイン' }}
    </button>
  </ng-template>
</mat-toolbar>
