.footer {
  padding: 100px 0 40px 0;
}

.list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 40px 0;
  list-style-type: none;
  &__item {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
}

p {
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
}
