<div class="container">
  <div class="compare">
    <h1 class="compare__title">
      <span>{{ type }}を</span>
      <span>比較する</span>
    </h1>
    <div class="compare__wrapper">
      <div class="row__grid">
        <ng-container
          *ngFor="let index of (mobileService.isMobile ? 2 : 3) | times"
        >
          <mat-form-field
            class="compare__select"
            [appearance]="mobileService.isMobile ? 'standard' : 'outline'"
          >
            <mat-label>選択する</mat-label>
            <mat-select
              [value]="selectedCardIds[index]"
              (selectionChange)="navigate($event.value, index)"
            >
              <mat-option
                *ngFor="let codeCard of cardsOption$ | async"
                [value]="codeCard.cardId"
              >
                {{ codeCard.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
      <div class="compare__detail">
        <div class="row">
          <div class="row__grid">
            <ng-container *ngFor="let card of comparedCards$ | async">
              <div
                class="row__cover"
                [style.background-image]="'url(' + card.imageURL + ')'"
              ></div>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <h2 class="row__header">精算方法</h2>
          <div class="row__grid">
            <p *ngFor="let card of comparedCards$ | async">
              {{ card.payment }}
            </p>
          </div>
        </div>
        <div class="row">
          <h2 class="row__header">チャージ方法</h2>
          <div class="row__grid">
            <p *ngFor="let card of comparedCards$ | async">
              {{ card.charge }}
            </p>
          </div>
        </div>
        <div class="row">
          <h2 class="row__header">オートチャージ</h2>
          <div class="row__grid">
            <p *ngFor="let card of comparedCards$ | async">
              {{ card.autoCharge }}
            </p>
          </div>
        </div>
        <div class="row">
          <h2 class="row__header">利用できるクレジットカード</h2>
          <div class="row__grid">
            <p *ngFor="let card of comparedCards$ | async">
              {{ card.availableCredit }}
            </p>
          </div>
        </div>
        <div class="row">
          <h2 class="row__header">ポイント</h2>
          <div class="row__grid">
            <p *ngFor="let card of comparedCards$ | async">
              {{ card.point }}
            </p>
            <p *ngFor="let card of comparedCards$ | async">
              {{ card.addPoint }}
            </p>
          </div>
        </div>
        <div class="row">
          <h2 class="row__header">残高やポイントの有効期限</h2>
          <div class="row__grid">
            <p *ngFor="let card of comparedCards$ | async">
              {{ card.expiration }}
            </p>
          </div>
        </div>
        <ng-container *ngIf="type === 'モバイル決済'">
          <div class="row">
            <h2 class="row__header">個人間送金</h2>
            <div class="row__grid">
              <p *ngFor="let card of comparedCards$ | async">
                {{ card.pushMoney }}
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="row__header">出金</h2>
            <div class="row__grid">
              <p *ngFor="let card of comparedCards$ | async">
                {{ card.pullMoney }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
