@import 'mixins';

.compare {
  text-align: center;
  &__wrapper {
    // display: flex;
    justify-content: center;
  }
  &__select {
    display: flex;
    justify-content: center;
  }
  &__option {
    padding: 16px;
    @include sp {
      padding: 8px;
    }
  }
  &__detail {
    // display: flex;
  }
}

.compare-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 40px;
  &__cover {
    background: center/cover;
    padding-bottom: 52.5%;
    box-sizing: border-box;
  }
}

.detail {
  max-width: 360px;
  margin: 0 auto;
  padding: 0;
}
