@import 'mixins';

.compare {
  text-align: center;
  &__wrapper {
    // display: flex;
    justify-content: center;
  }
  &__select {
    display: flex;
    justify-content: center;
  }
  &__option {
    padding: 16px;
    @include sp {
      padding: 8px;
    }
  }
  &__detail {
    display: flex;
  }
}

.card {
  margin-bottom: 40px;
}

.detail {
  max-width: 360px;
  margin: 0 auto;
  padding: 0;
}
