<div class="container">
  <div class="compare">
    <h1 class="compare__title">
      <span>{{ cardCategory.name }}を</span>
      <span>比較する</span>
    </h1>
    <div class="compare__wrapper">
      <div class="row__grid">
        <ng-container
          *ngFor="let index of (mobileService.isMobile ? 2 : 3) | times"
        >
          <mat-form-field
            class="compare__select"
            [appearance]="mobileService.isMobile ? 'standard' : 'outline'"
          >
            <mat-label>選択する</mat-label>
            <mat-select
              [value]="selectedCardIds[index]"
              (selectionChange)="compareCards($event.value, index)"
            >
              <mat-option
                *ngFor="let card of cardsOption$ | async"
                [value]="card.cardId"
              >
                {{ card.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
      <div class="compare__detail">
        <div class="row">
          <div class="row__grid">
            <ng-container *ngFor="let card of selectedCards$ | async">
              <div
                class="row__cover"
                [style.background-image]="'url(' + card.imageURL + ')'"
              ></div>
            </ng-container>
          </div>
        </div>
        <ng-container
          *ngIf="
            cardCategory.type === 'code' || cardCategory.type === 'electron'
          "
        >
          <div class="row">
            <h2 class="row__header">精算方法</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.payment }}
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="row__header">チャージ方法</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.charge }}
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="row__header">オートチャージ</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.autoCharge }}
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="row__header">利用できるクレジットカード</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.availableCredit }}
              </p>
            </div>
          </div>
        </ng-container>
        <div class="row">
          <h2 class="row__header">ポイント</h2>
          <div class="row__grid">
            <p *ngFor="let card of selectedCards$ | async">
              {{ card.point }}
            </p>
            <p *ngFor="let card of selectedCards$ | async">
              {{ card.addPoint }}
            </p>
          </div>
        </div>
        <div *ngIf="cardCategory.type != 'credit'" class="row">
          <h2 class="row__header">残高やポイントの有効期限</h2>
          <div class="row__grid">
            <p *ngFor="let card of selectedCards$ | async">
              {{ card.expiration }}
            </p>
          </div>
        </div>
        <ng-container *ngIf="cardCategory.type === 'code'">
          <div class="row">
            <h2 class="row__header">個人間送金</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.remittance ? '可能' : '不可能' }}
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="row__header">出金</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.withdrawal ? '可能' : '不可能' }}
              </p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="cardCategory.type === 'credit'">
          <div class="row">
            <h2 class="row__header">貯まるポイント</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.pointName }}
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="row__header">年会費</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.annualFee }}
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="row__header">交換可能マイル</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.miles }}
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="row__header">追加カード</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.additionCards }}
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="row__header">付帯保険</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.insurances }}
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="row__header">電子マネー機能</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.electron }}
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="row__header">モバイル決済</h2>
            <div class="row__grid">
              <p *ngFor="let card of selectedCards$ | async">
                {{ card.mobile }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
