<div class="container">
  <ng-container *ngIf="filteredCards$ | async as filteredCards">
    <h1
      class="search-title"
      *ngIf="filteredCards.length && filteredCards$ != electronCards$"
    >
      {{ searchQuery }}で利用できるお支払い方法 : {{ filteredCards.length }}件
    </h1>
    <div class="grid">
      <mat-card *ngFor="let electronCard of filteredCards" class="card">
        <a
          class="card__trigger"
          routerLink="/electron-detail/{{ electronCard.cardId }}"
        >
          <div
            class="card__cover"
            [style.background-image]="'url(' + electronCard.imageURL + ')'"
          ></div>
          <p class="card__name">{{ electronCard.name }}</p>
        </a>
      </mat-card>
    </div>
    <h1 class="search-title" *ngIf="!filteredCards.length">
      {{ searchQuery }}で利用できるお支払い方法はありません
    </h1>
  </ng-container>

  <mat-card class="compared">
    <mat-card-header>電子マネーを比較する</mat-card-header>
    <form [formGroup]="form" (ngSubmit)="navigate()">
      <mat-form-field class="compared__select">
        <mat-label>選択する</mat-label>
        <mat-select formControlName="firstSelect">
          <mat-option
            *ngFor="
              let card of (lastSelectControl.value.length
                ? firstChoices$
                : electronCards$
              ) | async
            "
            [value]="card.cardId"
          >
            {{ card.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="compared__select">
        <mat-label>選択する</mat-label>
        <mat-select formControlName="lastSelect">
          <mat-option
            *ngFor="
              let card of (firstSelectControl.value.length
                ? lastChoices$
                : electronCards$
              ) | async
            "
            [value]="card.cardId"
          >
            {{ card.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary">比較する</button>
    </form>
  </mat-card>
</div>
