<div *ngIf="codeCard$ | async as codeCard; else blank">
  <div class="container">
    <div class="card">
      <figure
        class="card__cover"
        [style.background-image]="'url(' + codeCard.imageURL + ')'"
      ></figure>
    </div>
    <div class="detail">
      <div class="detail__title">
        <h1 class="detail__logo">{{ codeCard.name }}</h1>
        <div class="detail__btns">
          <button
            class="detail__btn"
            [routerLink]="['/create/form']"
            [queryParams]="{ id: codeCard.cardId, type: 'qrCode' }"
            mat-icon-button
          >
            <mat-icon class="detail__icon">create</mat-icon>
          </button>
          <div class="detail__store-link">
            <a
              routerLink="/code-detail/{{ codeCard.cardId }}"
              fragment="store"
              mat-button
            >
              <mat-icon class="detail__icon">store</mat-icon>
              <span>ストアページ</span>
            </a>
          </div>
        </div>
      </div>
      <h2>チャージ方法</h2>
      <p *ngFor="let chargeWay of codeCard.charge" class="detail__charge">
        {{ chargeWay }}
      </p>
      <h2>オートチャージ</h2>
      <p>{{ codeCard.autoCharge }}</p>
      <h2>利用できるクレジットカード</h2>
      <p>{{ codeCard.availableCredit }}</p>
      <h2>ポイント</h2>
      <p>{{ codeCard.point }}%</p>
      <P>{{ codeCard.addPoint }}</P>
      <h2>個人間送金</h2>
      <p>{{ codeCard.pushMoney }}</p>
      <h2>出金</h2>
      <p>{{ codeCard.pullMoney }}</p>
    </div>
    <div class="store" id="store">
      <h2 class="store__title">使えるお店</h2>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="実店舗">
          <div class="store__grid">
            <div
              *ngFor="let store of codeCard.storeIds | idToStore: 'real'"
              class="store__cover"
            >
              <img src="assets/images/{{ store.id }}.png" alt="実店舗の画像" />
              <p>{{ store.name }}</p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="オンライン">
          <div class="store__grid">
            <div
              *ngFor="let store of codeCard.storeIds | idToStore: 'online'"
              class="store__cover"
            >
              <img
                src="assets/images/online/{{ store.id }}.png"
                alt="オンライン店舗の画像"
              />
              <p>{{ store.name }}</p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="請求書">
          <div class="store__grid">
            <div
              *ngFor="let store of codeCard.storeIds | idToStore: 'invoice'"
              class="store__cover"
            >
              <img
                src="assets/images/invoice/{{ store.id }}.png"
                alt="請求書の画像"
              />
              <p>{{ store.name }}</p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #blank>
  カードの詳細ページが見つかりませんでした。
</ng-template>
