<ng-container *ngIf="codeCard$ | async as codeCard; else blank">
  <div class="container">
    <div class="card">
      <div
        class="card__cover"
        [style.background-image]="'url(' + codeCard.imageURL + ')'"
      ></div>
    </div>
    <div class="detail">
      <div class="detail__title">
        <h1 class="detail__logo">{{ codeCard.name }}</h1>
        <div class="detail__btns">
          <button
            class="detail__btn"
            [routerLink]="['/create/form']"
            [queryParams]="{ id: codeCard.cardId, type: 'qrCode' }"
            mat-icon-button
          >
            <mat-icon class="detail__icon">create</mat-icon>
          </button>
          <div class="detail__store-link">
            <a
              routerLink="/code-detail/{{ codeCard.cardId }}"
              fragment="store"
              mat-button
            >
              <mat-icon class="detail__icon">store</mat-icon>
              <span>ストアページ</span>
            </a>
          </div>
        </div>
      </div>
      <h2>精算方法</h2>
      <p>{{ codeCard.payment }}</p>
      <h2>チャージ方法</h2>
      <p *ngFor="let chargeWay of codeCard.charge" class="detail__charge">
        {{ chargeWay }}
      </p>
      <h2>オートチャージ</h2>
      <p>{{ codeCard.autoCharge }}</p>
      <h2>利用できるクレジットカード</h2>
      <p>{{ codeCard.availableCredit }}</p>
      <h2>ポイント</h2>
      <p>{{ codeCard.point }}%</p>
      <P>{{ codeCard.addPoint }}</P>
      <h2>残高やポイントの有効期限</h2>
      <p>{{ codeCard.expiration }}</p>
      <h2>個人間送金</h2>
      <p>{{ codeCard.pushMoney }}</p>
      <h2>出金</h2>
      <p>{{ codeCard.pullMoney }}</p>
    </div>
  </div>
  <div class="store" id="store">
    <h2 class="store__title">使えるお店</h2>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="実店舗">
        <div
          *ngFor="let category of codeCard.storeIds | idToStore: 'real'"
          class="store__cover"
        >
          <h3 class="store__category">
            <span class="store__category-label">{{ category.title }}</span>
          </h3>
          <div class="store__grid">
            <div *ngFor="let item of category.items">
              <div class="store__img-wrapper">
                <img
                  class="store__img"
                  src="assets/images/{{ item.id }}.png"
                  alt="実店舗の画像"
                />
              </div>
              <span class="store__name">{{ item.name }}</span>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="オンライン">
        <div
          *ngFor="let category of codeCard.storeIds | idToStore: 'online'"
          class="store__cover"
        >
          <h3 class="store__category">
            <span class="store__category-label">{{ category.title }}</span>
          </h3>
          <div class="store__grid">
            <div *ngFor="let item of category.items">
              <div class="store__img-wrapper">
                <img
                  class="store__img"
                  src="assets/images/{{ item.id }}.png"
                  alt="オンラインショップの画像"
                />
              </div>
              <span class="store__name">{{ item.name }}</span>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="請求書">
        <div
          *ngFor="let category of codeCard.storeIds | idToStore: 'invoice'"
          class="store__cover"
        >
          <h3 class="store__category">
            <span class="store__category-label">{{ category.title }}</span>
          </h3>
          <div class="store__grid">
            <div *ngFor="let item of category.items">
              <div class="store__img-wrapper">
                <img
                  class="store__img"
                  src="assets/images/{{ item.id }}.png"
                  alt="請求書の画像"
                />
              </div>
              <span class="store__name">{{ item.name }}</span>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-container>

<ng-template #blank>
  カードの詳細ページが見つかりませんでした。
</ng-template>
