@import 'mixins';

.form-container {
  margin: 0 auto;
  padding: 80px 0 0;
  max-width: 700px;
}

.heading {
  text-align: center;
  border-bottom: 1px solid black;
}

.form-wrapper {
  padding: 40px;
  &__content {
    display: block;
    margin: 16px 0;
  }
  &__chip-list {
    width: 100%;
  }
  @include sp {
    padding: 16px;
  }
}

.qr-code {
  background-color: rgba(0, 0, 0, 0.04);
  margin-bottom: 24px;
  padding: 12px;
  &__label {
    display: block;
    padding-bottom: 8px;
  }
  &__radio-button {
    margin-right: 16px;
  }
}

.form-btns {
  text-align: center;
  &__btn {
    text-align: center;
  }
}

.upload {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  text-align: center;
  padding: 36px;
  border-width: 1px;
  border-style: dashed;
  border-color: rgb(204, 204, 204);
  font-size: 13px;
  margin-bottom: 24px;
  p {
    margin: 0;
  }
}
