.common {
  padding: 16px;
  &__content {
    display: block;
    margin: 0 auto;
  }
}

.qr-code {
  background-color: rgba(0, 0, 0, 0.04);
  margin-bottom: 24px;
  padding: 12px;
  &__label {
    display: block;
    padding-bottom: 8px;
  }
  &__radio-button {
    margin-right: 16px;
  }
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
}
