<div class="form-container">
  <h1 class="heading">カードを{{ cardId ? '編集' : '作成' }}する</h1>

  <ng-container *ngIf="type === 'credit'; else otherForm">
    <app-credit-form #creditForm [cardId]="cardId"></app-credit-form>
  </ng-container>

  <ng-template #otherForm>
    <form [formGroup]="form" (ngSubmit)="submit(type, cardId)">
      <div class="form-wrapper">
        <app-shared-form-section
          [form]="form"
          [card]="card$"
          [length]="maxLength"
          (fileChange)="file = $event"
        ></app-shared-form-section>

        <ng-container *ngIf="type === 'code' || type === 'electron'">
          <mat-form-field class="form-wrapper__content" appearance="outline">
            <mat-label>精算方法</mat-label>
            <mat-select formControlName="payment" multiple required>
              <mat-option
                *ngFor="let payment of paymentList"
                [value]="payment"
                >{{ payment }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="paymentControl.hasError('required')"
              >必須入力です</mat-error
            >
          </mat-form-field>
          <mat-form-field class="form-wrapper__chip-list">
            <mat-label>チャージ方法</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip
                *ngFor="let chargePattern of chargePatterns"
                [removable]="true"
                (removed)="remove(chargePattern)"
              >
                {{ chargePattern }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="チャージ方法を選択してください"
                formControlName="charge"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
          </mat-form-field>

          <div class="code">
            <mat-label class="code__label">オートチャージ *</mat-label>
            <mat-radio-group formControlName="autoCharge">
              <mat-radio-button
                *ngFor="let autoChargePattern of autoChargePatterns"
                [value]="autoChargePattern"
                class="code__radio-button"
                required
                >{{ autoChargePattern }}</mat-radio-button
              >
            </mat-radio-group>
          </div>

          <mat-form-field class="form-wrapper__content" appearance="outline">
            <mat-label>利用可能なクレジットカード</mat-label>
            <mat-select formControlName="availableCredit" multiple required>
              <mat-option *ngFor="let credit of creditList" [value]="credit">{{
                credit
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="creditControl.hasError('required')"
              >必須入力です</mat-error
            >
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="type === 'code'">
          <div class="code">
            <mat-label class="code__label">個人間送金 *</mat-label>
            <mat-radio-group formControlName="pushMoney">
              <mat-radio-button
                *ngFor="let simplePattern of simplePatterns"
                [value]="simplePattern"
                class="code__radio-button"
                required
                >{{ simplePattern }}</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <div class="code">
            <mat-label class="code__label">出金 *</mat-label>
            <mat-radio-group formControlName="pullMoney">
              <mat-radio-button
                *ngFor="let simplePattern of simplePatterns"
                [value]="simplePattern"
                class="code__radio-button"
                required
                >{{ simplePattern }}</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </ng-container>

        <div class="submit">
          <button
            class="submit__btn"
            [disabled]="form.invalid || form.pristine || processing"
            mat-raised-button
            color="primary"
          >
            {{ cardId ? '編集' : '作成' }}する
          </button>
          <button
            *ngIf="cardId"
            class="submit__btn"
            [disabled]="form.invalid"
            mat-raised-button
            color="warn"
            type="button"
            (click)="openDeleteCardDialog()"
          >
            削除する
          </button>
          <button type="button" routerLink="/" mat-button color="primary">
            トップへ戻る
          </button>
        </div>
      </div>
    </form>
  </ng-template>
</div>
