@import 'mixins';

.card {
  display: grid;
  align-items: center;
  margin-bottom: 0;
  @include sp {
    grid-template-columns: repeat(2, 1fr);
  }
  &__cover {
    background: center/contain no-repeat;
    padding-bottom: 52.5%;
    box-sizing: border-box;
  }
  &__title {
    h3 {
      font-size: 16px;
      margin: 0 0 8px;
    }
    span {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.actions {
  display: flex;
  justify-content: space-evenly;
  &__compare {
    color: #00867d;
  }
}
