<mat-card>
  <mat-card-content class="content">
    <div
      class="content__cover"
      [style.background-image]="'url(' + card.imageURL + ')'"
    ></div>
    <div class="content__title">
      <h3>{{ card.name }}</h3>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button
      [routerLink]="'/' + cardType + '-detail/' + card.cardId"
      class="actions__detail"
      mat-stroked-button
    >
      詳細を見る
    </button>
    <button
      class="actions__compare"
      mat-stroked-button
      (click)="cardService.navigateComparedCards(cardType, card.cardId)"
    >
      比較する
    </button>
  </mat-card-actions>
</mat-card>
