<div class="container">
  <p>アカウント</p>
  <div class="settings" *ngIf="user$ | async as user">
    <div class="account">
      <img class="account__icon" [src]="user.avatarURL" alt="" />
      <div class="account__body">
        <h1>{{ user.name }}</h1>
        <h2>{{ user.email }}</h2>
      </div>
    </div>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="設定">
        <div class="form-container">
          <h3>アカウントを更新する</h3>
          <form (ngSubmit)="submit()">
            <div class="edit">
              <div
                class="upload"
                [style.background-image]="'url(' + imageURL + ')'"
                (click)="imageInput.click()"
              >
                <input
                  type="file"
                  style="display: none;"
                  accept=".png, .img, .jpeg"
                  (change)="fileChangeEvent($event)"
                  #imageInput
                  required
                />
              </div>
            </div>

            <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="1 / 1"
              [roundCropper]="true"
              format="png"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"
              [class.active]="imageChangedEvent"
            ></image-cropper>

            <mat-form-field>
              <mat-label>ユーザー名</mat-label>
              <input
                matInput
                autocomplete="off"
                [formControl]="userControl"
                required
              />
              <mat-error *ngIf="userControl.hasError('required')"
                >必須入力です</mat-error
              >
              <mat-error *ngIf="userControl.hasError('maxlength')"
                >長すぎます</mat-error
              >
            </mat-form-field>
            <button
              [disabled]="userControl.invalid"
              mat-raised-button
              color="primary"
            >
              更新する
            </button>
          </form>
          <div class="delete">
            <h3>アカウントを削除する</h3>
            <p>
              一度アカウントを削除すると、二度と元に戻せません。
            </p>
            <p>ご注意ください。</p>
            <button
              mat-raised-button
              color="warn"
              (click)="openDeleteUserDialog()"
            >
              削除する
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="お支払い情報">
        <div class="form-container">
          <h3>クレジットカード</h3>
          <p>
            クレジットカードは世界的な決済サービスStripeによって厳重に保管されており、漏洩の心配はありません。
          </p>
          <ng-container *ngIf="paymentCard; else register">
            <div class="user-card">
              <p>
                <i
                  class="fab fa-cc-{{
                    paymentCard.card.brand.toLowerCase() === 'american express'
                      ? 'amex'
                      : paymentCard.card.brand.toLowerCase()
                  }}"
                ></i>
                **** **** **** {{ paymentCard.card.last4 }}
              </p>
              <button
                mat-raised-button
                color="primary"
                (click)="openRegisterCardDialog()"
              >
                変更する
              </button>
            </div>
          </ng-container>
          <ng-template #register>
            <button
              mat-raised-button
              color="primary"
              (click)="openRegisterCardDialog()"
            >
              カードを登録する
            </button>
          </ng-template>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
