<div class="grid">
  <mat-card class="card">
    <img
      src="https://image.paypay.ne.jp/page/common/images/img_logo.png"
      alt=""
      class="card__cover"
    />
    <p class="card__name">PayPay</p>
  </mat-card>
  <mat-card class="card">
    <img
      src="https://image.paypay.ne.jp/page/common/images/img_logo.png"
      alt=""
      class="card__cover"
    />
    <p class="card__name">PayPay</p>
  </mat-card>
  <mat-card class="card">
    <img
      src="https://image.paypay.ne.jp/page/common/images/img_logo.png"
      alt=""
      class="card__cover"
    />
    <p class="card__name">PayPay</p>
  </mat-card>
  <mat-card class="card">
    <img
      src="https://image.paypay.ne.jp/page/common/images/img_logo.png"
      alt=""
      class="card__cover"
    />
    <p class="card__name">PayPay</p>
  </mat-card>
  <mat-card class="card">
    <img
      src="https://image.paypay.ne.jp/page/common/images/img_logo.png"
      alt=""
      class="card__cover"
    />
    <p class="card__name">PayPay</p>
  </mat-card>
  <mat-card class="card">
    <img
      src="https://image.paypay.ne.jp/page/common/images/img_logo.png"
      alt=""
      class="card__cover"
    />
    <p class="card__name">PayPay</p>
  </mat-card>
</div>
