/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #fafafa;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1280px;
}

img {
  max-width: 100%;
}

.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 24px;
  text-align: center;
}

.card {
  &__trigger {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  &__cover {
    background: center/cover;
    padding-bottom: 52.5%;
    box-sizing: border-box;
  }
}

.detail {
  margin: 0 40px;
  white-space: pre-wrap;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__store-icon {
    font-size: 40px;
  }
}

.store {
  &__title {
    text-align: center;
  }
  &__cover {
    width: 160px;
    height: 160px;
  }
}
