<mat-nav-list dense>
  <a mat-list-item routerLink="/">
    <mat-icon>home</mat-icon>
    <p>ホーム</p>
  </a>
  <mat-divider></mat-divider>
  <h2 mat-subheader>カテゴリ</h2>
  <a mat-list-item routerLink="/card-list/code">
    <div class="icon">
      <img src="/assets/images/icons/code.png" alt="" />
    </div>
    <p>モバイル決済</p></a
  >
  <a mat-list-item routerLink="/card-list/electron">
    <div class="icon">
      <img src="/assets/images/icons/ic.png" alt="" />
    </div>
    <p>電子マネー</p>
  </a>
  <a mat-list-item routerLink="/card-list/credit">
    <div class="icon">
      <img src="/assets/images/icons/credit.png" alt="" />
    </div>
    <p>クレジットカード</p>
  </a>
  <a mat-list-item routerLink="/card-list/point">
    <div class="icon">
      <img src="/assets/images/icons/point2.png" alt="" />
    </div>
    <p>ポイントカード</p>
  </a>
</mat-nav-list>
<mat-divider></mat-divider>
<footer class="footer">
  <ul class="list">
    <li><a class="list__item" routerLink="/intl/terms">利用規約</a></li>
    <li>
      <a class="list__item" routerLink="/intl/legal">特定商取引に関する表記</a>
    </li>
    <li><a class="list__item" routerLink="/intl/help">PAYpickについて</a></li>
  </ul>
  <span>
    <a class="list__item" href="https://twitter.com/mikatahiro" target="_blank"
      >制作者：ちゃま</a
    >
    <mat-icon class="link">open_in_new</mat-icon>
  </span>
  <p class="copyright">© 2020 PAYpick by takami</p>
</footer>
